$light: #f7f7f7; // definierar variabler till ett värde för att sedan kunna användas "enklare" och slippa skriva in samma färgkod om och om igen. gäller varenda lina i koden här
$dark: #222121;
$orangeRed: #fb4b4e;
$blue: #2541b2;
$background-color: $dark;
